@import "variables";
@import "global";



body {
    background-color: var(--main-bgc);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    
}

.wrapper-calc {
    max-width: 500px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .navegacao {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--text-clr);

        .logo {
            font-size: 1.5rem;
        }

        .container-theme {
            display: flex;
            align-items: flex-end;
            gap: 1rem;

            &__title {
                font-size: .9rem;
            }

            &__menu-theme {

                .menu-theme__opction {
                    text-align: center;

                    input {
                        visibility: hidden;
                        display: none;
                    }
                    
                    &-check {
                        position: relative;
                        width: 75px;
                        height: 25px;
                        background-color: var(--keypad-bgc);
                        border-radius: 25px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        cursor: pointer;
                        
                        &::before {
                        content: '';
                        width: calc(70% / 3);
                        height: 70%;
                        position: absolute;
                        border-radius: 100%;
                        background-color: var(--red-bgc);
                        transition: .2s;
                        }

                        label {
                            display: block;
                            width: calc(100% / 3);
                            height: 70%;
                            background-color: transparent;
                            z-index: 2;
                        }
                    }

                    &-label {
                        letter-spacing: 5px;
                    }
                }
            }
        }
    }

    .display input {
        height: 120px;
        width: 100%;
        text-align: right;
        font-size: 3rem;
        color: var(--text-clr);
        background-color: var(--screeen-bgc);
        border: none;
        border-radius: 5px;
        padding: 1rem;
    }

    .teclas {
        background-color: var(--keypad-bgc);
        display: flex;
        flex-direction: column;
        border-radius: .5rem;
        gap: 1.4rem;
        padding: 1.4rem;

        .row-keys {
            display: flex;
            gap: 1.4rem;

            button {
                width: 100%;
                height: 50px;
                line-height: 50px;
                border-radius: 10px;
                border: none;
                border-bottom: 4px solid var(--key-shadow);
                color: var(--dark-blue-text);
                transition: .1s;
                cursor: pointer;
                font-size: 1rem;

                &:active {
                    border-width: 0px;
                    transform: translateY(1px);
                }
            }

            .keys-number {
                font-size: 1.4rem;
            }

            .clear {
                font-size: 1rem;
                background-color: var(--key-bgc-del);
                border-bottom: 4px solid var(--key-shadow-del);
                color: var(--btn-clear-clr);
                text-transform: uppercase;
            }

            .equal {
                background-color: var(--red-bgc);
                border-bottom: 4px solid var(--key-shadow-equal);
                color: var(--btn-equal-clr);
            }

            .operator {
                font-size: 1.5rem;
            }

        }
       
    }
}


body.theme1 {
    .wrapper-calc .navegacao .container-theme__menu-theme .menu-theme__opction-check::before {
        left: 5px;
    }
}
body.theme2 {
    .wrapper-calc .navegacao .container-theme__menu-theme .menu-theme__opction-check::before {
        left: calc(70% / 2);
    }
}
body.theme3 {
    .wrapper-calc .navegacao .container-theme__menu-theme .menu-theme__opction-check::before {
        left: calc(70% / 1);
    }
}